#coming-soon {
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem 2rem;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;

  #video-background {
    opacity: 0.5;
  }

  & > *:not(#video-background) {
    z-index: 1;
  }

  h1 {
    @include h3($secondary);
    -webkit-text-stroke: none;
  }

  h3 {
    @include h5($light);
  }

  p {
    @include caption-sm($light);
  }

  #social-media-links {
    margin: 3.75rem 0 3rem;
    a {
      @include caption-med($light);
      @include hover-blur;
      margin-right: 30px;

      &:hover {
        color: $secondary;
      }
    }
  }

  #page-bottom {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #slogan {
    @include poster($secondary);
    @include h1;
    color: transparent;
    mix-blend-mode: difference;
    text-align: right;
  }

  #parsons-logo {
    @include hover-blur;
    margin: 40px 0;
  }
}

@media (min-width: $breakpoint-tablet) {
  #coming-soon {

    #video-background {
      opacity: 1;
    }

    h1 {
      @include h1($secondary);
      font-size: 3rem;
      margin: 0;
      text-shadow: none; //remove stroke
      -webkit-text-stroke: 0px; //remove stroke
    }

    h3 {
      @include h3($light);
      &:hover {
        color: $light; //prevent color change on hover
      }
      margin: 1rem 0;
    }

    p {
      @include caption-med($light);
      max-width: 27.5rem;
    }

    #page-bottom {
      margin: 0;
      align-self: end;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;
    }

    #slogan {
      @include poster($secondary);
      color: transparent;
      max-width: 700px;
    }

    #parsons-logo {
      margin: 0;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #coming-soon {
    padding-left: 3rem;
    padding-top: 10rem;
  }

  #slogan {
    font-size: 9rem;
  }
}