#events-showcase {
  background: $light;
  width: 100%;
  min-height: 100vh;

  &.offset #events-content {
    padding-top: calc(6rem + 140px);
  }
}

#events-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 6rem 1.25rem;
}


.events-date-section {
  width: 100%;
  display: grid;
  margin-bottom: 4rem;

  .poster {
    max-width: 300px;
    @include poster-mobile;
    text-align: right;
    justify-self: right;
    margin-bottom: 2rem;
  }
}

@media (min-width: 480px) {
  #events-showcase.offset #events-content {
    padding-top: calc(6rem + 60px);
  }
}

@media (min-width: $breakpoint-tablet) {
  .events-date-section .poster {
    max-width: 500px;
    font-size: 5rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: $breakpoint-desktop) {
  .events-date-section .poster {
    max-width: 900px;
    @include poster;
  }
}