footer {
  width: 100%;
  background: $dark;
  border-top: 1px solid $light;
  padding: 4.375rem 0 2.75rem;
  position: relative;
  z-index: 1;

  #parsons-logo {
    display: block;
    margin: 2.75rem auto 0;
    @include hover-blur;
  }

  #social-media-links {
    width: 60vw;
    margin: 0 auto;
    @include caption-med($light);
    display: flex;
    justify-items: space-between;
  
    a {
      display: block;
      text-align: center;
      margin: 0 auto;
      @include hover-blur;

      &:hover {
        color: $secondary;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  footer {
    display: flex;
    padding: 0 5vw;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 3.75rem;
    
    & > a, #parsons-logo {
      margin: 0;
      align-self: center;
    }

    #social-media-links {
      width: auto;
      margin: 0;
      align-self: center;

      a {
        margin-left: 1.875rem;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  footer {
    padding: 0 3.125rem;
  }
}