#landing {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7rem;
}

#landing-text {
  align-self: center;
}

#landing-title {
  font-size: $text-large;
  font-weight: 400;
  margin-bottom: 20px;
  position: sticky;
}

#landing-tagline, #landing-dates {
  font-size: $text-regular;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

#landing-cta {
  width: 20rem;
  height: 7rem;
  padding-left: 0.5rem;
  cursor: pointer;
  border-left: 1px solid $base-text;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: $breakpoint-desktop) {
  #landing-title {
    font-size: $text-huge;
  }

  #landing-tagline, #landing-dates {
    font-size: $text-medium;
  }
}