#mobile-nav {
  width: 100%;
  height: 100vh;
  background: $dark;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 0.35s $ease-in-out;
  padding: 32vh 0;
  

  &.open {
    transform: translateX(0);
  }

  a {
    @include h3($light);
    text-align: center;
    margin-bottom: 12vh;
  }

  button {
    @include close-button;
    filter: invert(1);
    position: absolute;
    top: 1.25rem;
    right: 5vw;
  }
}