#project-footer {
  width: 100%;
  min-height: 75vh;
  background: $dark;
  padding: 2.5rem 1.25rem 5rem;
}

#nav-buttons {
  width: 100%;
  max-width: 380px;

  a {
    @include dark-button;
    text-align: center;
    margin-bottom: 1.25rem;
    padding-top: 0.75rem;
  }
}

#similar-projects {
  margin-top: 6.125rem;

  h6 {
    color: $light;
  }  
}

@media (min-width: $breakpoint-mobile) {
  #nav-buttons {
    display: flex;
    

    a {
      margin-right: 1.25rem;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  #nav-buttons {
    max-width: 380px;
    justify-content: space-between;
    // margin: 0;

    a {
      margin: 0;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #project-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 4.375rem;
  }

  #similar-projects {
    border-left: 1px solid $light;
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;

    h6 {
      margin: 0;
      margin-bottom: 2rem;
    }
  }
}
