#showroom {
  height: 100%;
  width: 100%;
  /*** placeholder bg ***/
  background-image: url('../../assets/blob.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: background-position 0.5s;

  &.left {
    background-position: left;
  }
}

