#signup-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  position: relative;

  .form-field {
    @include form-item($light);
    margin-right: 1.875rem;
    margin-bottom: 20px;

    &.error .error-message {
      display: inline-block;
    }
  }
}

#submit {
  @include dark-button; //base styles here
  padding-top: 4px;
  max-width: 180px;
}

#message {
  position: absolute;
  height: 3rem;
  bottom: -3rem;

  .error {
    color: $error;
  }

  .success {
    color: $secondary;
  }
}

@media (min-width: $breakpoint-desktop) {
  #signup-form {
    flex-wrap: nowrap;
    max-width: none;
  }
}
