#student-view {
  background: $dark;
  width: 100%;
  min-height: 100vh;
}

.letter-card {
  width: 100%;
  background-image: url('../../Assets/blobwell.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  div {
    @include poster($light);
    font-size: 16.5rem;
    margin-left: -1.5rem;
    margin-top: -2rem;
    cursor: default;
  }
}

@media (min-width: $breakpoint-tablet) {

  #student-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-template-rows: auto;
    flex-wrap: wrap;
  }

  .letter-card {
    width: 100%;
    height: 360px;
    border: 0.5px solid $light;

    div {
      margin-top: -3.5rem;
      margin-left: -2.5rem;
      font-size: 27rem;
    }
    
  }
}