.student-card {
  cursor: pointer;

  &:hover {
    h3,
    button {
      filter: $black-filter $secondary-filter;
    }
  }

  h3 {
    @include h3($light);
    margin: 0;
  }

  p {
    // @include caption-lg($light);
    @include caption-med($light);
    margin: 0;
  }

  button {
    width: 6px;
    height: 1.125rem;
    border: none;
    background: none;
    background-image: url(../../Assets/Icons/arrow-link.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.student-card.standard {
  width: 100%;
  margin: 3rem 0;
  padding: 0 2.625rem;
  display: grid;
  grid-template-columns: 1fr 6px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "name button"
    "title .";

  h3 {
    grid-area: name;
    max-width: 14rem;
    margin-bottom: 1rem;
  }

  p {
    grid-area: title;
    margin: 0;
  }

  button {
    grid-area: button;
  }
}

.student-card.standard:last-child {
  margin-bottom: 0;
}

.student-card.category-list {

  > * {
    text-shadow: 1px 4px 8px $dark;
  }

  h3 {
    margin-bottom: 0.625rem;
  }
  button {
    display: none;
  }
}

@media (min-width: $breakpoint-tablet) {
  .student-card:hover {
    h3,
    button {
      filter: none;
    }
  }
  .student-card.standard {
    background: $dark;
    min-width: 360px;
    height: 360px;
    margin: 0;
    padding: 3rem 2.625rem;
    border: 0.5px solid $light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      display: none;
    }

    &:hover {
      background: $light;

      h3,
      p {
        color: $primary;
      }
    }
  }
}

// @media (min-width: $breakpoint-desktop) {
//   .student-card.category-list p {
//     margin: 0.5rem 0 2rem;
//   }
// }
