.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $dark;
  overflow-x: hidden;
  z-index: -2;
  pointer-events: none;

  &.fullscreen {
    z-index: -1;
  }
}

.video-container {
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  video,
  img {
    height: 100%;
    $position: calc(100vw - 705px);
    transform: translateX($position);
    transition: transform 1.5s ease-in-out;
    overflow: hidden;
    pointer-events: none;
    // z-index: 0;
  }

  video {
    display: none;
  }

  &.center {
    video,
    img {
      $position: calc(50vw - 352.5px);
      transform: translateX($position);
    }
  }

  &.right {
    video,
    img {
      $position: calc(100vw - 705px);
      transform: translateX($position);
    }
  }

  &.left {
    video,
    img {
      transform: translate(-4rem, 4rem) scale(0.7);
    }
  }

  &.fullscreen {
    video {
      width: auto;
      opacity: 0.3;
      transform: scale(1.2);
    }

    img {
      opacity: 0.6;
      transform: scale(1.2);
    }
  }

  &.fixed {
    video,
    img {
      position: fixed;
    }
  }

  &.none {
    z-index: -1;
  }
}

@media (min-width: $breakpoint-tablet) {
  .video-container {
    video,
    img {
      transform: none;
    }

    video {
      display: block;
    }

    img {
      display: none;
    }
  }
}
