@mixin form-item($color: $dark) {
  input {
    outline: none;
    padding-left: 0;
    margin-left: -2px;
    @include excerpt($color);
    background: none;
    border: none;
    @if ($color == $dark) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    @if ($color == $light) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    &:focus {
      border-bottom: 1px solid $primary;
    }

    &.error {
      border-bottom: 1px solid $error;
    }
  }

  label {
    @include caption-sm($color);
    margin-top: 0.5rem;
    display: block;
  }
}
