#about {
  //adding to Pranjal's code
  #about-hero {
    width: 100%;
    height: 100vh;
    padding-left: 3rem;
    padding-top: 12rem;
    background-image: url('../../assets/about-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $dark;
    overflow-x: scroll; // fixes the empty spaces when resizing window


    h5 {
      color: $light;
    }

    p {
      @include poster($secondary);
      text-align: left;
      -webkit-text-fill-color: transparent; //remove fill
      margin-top: 0rem;
    }
  }

  #about-content {
    display: flex;
    width: 100%;
    height: auto;
    overflow-y: scroll;

    #left-col {
      background-image: url('../../assets/about-alphaoct.png');
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 100% auto;
      background-color: $dark;
      flex: 50%;
    }

    #right-col {
      background: #F9E8FF;
      flex: 50%;
      padding: 6rem;

      h3 {
        font-weight: normal;
      }

      p {
        @include p($dark);
      }

      #section-2, #section-3, #section-4 {
        margin-top: 5rem;
      }

      #section-1 h3 {
        margin-top: 0;
      }

      #section-4 p {
        @include excerpt($tertiary);
      }

      #section-4 span {
        @include excerpt($dark);
      }

      #section-4 h5 {
        @include h5($dark);
        font-weight: normal;
        margin-bottom: 0;
      }
    }
  }
}
