#events-hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  //1rem === always 16px

  #canvas {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;
  }

  #content {
    padding-top: 18vh;
    margin: 0 auto;
    width: 90%;
    mix-blend-mode: difference;

    h5 {
      @include h5($light);
      max-width: 210px;
    }

    #tagline {
      @include poster($secondary);
      font-size: 3rem;
      line-height: 1.1;

      span {
        @include poster($light);
        font-size: 3rem;
      }
    }
  }
}

#events-list {
  height: 100vh;
  width: 100%;
}

@media (min-width: $breakpoint-tablet) {
  #events-hero {


    #content {  
      max-width: 700px;

      h5 {
        max-width: none;
      }

      #tagline {
        font-size: 4.75rem;
        line-height: 1;

        span {
          font-size: 4.75rem;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #events-hero {
    #content {
      // padding-top: 5.375rem;
      max-width: 1000px;

      #tagline {
        font-size: 6.75rem;

        span {
          font-size: 6.75rem;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop-wide) {

  #events-hero {
    #content {
      padding-top: 5.375rem;
      max-width: 1300px;

      #tagline {
        font-size: 8.75rem;

        span {
          font-size: 8.75rem;
        }
      }
    }
  }
  #events-hero #content #tagline {
    font-size: 8.75rem;

    span {
      font-size: 8.75rem;
    }
  }
}
