#container{
    width:100vw;
    height: auto;
    overflow-x: hidden;


    #backgroundImg{
        width:100%;
        height:100vh;
        position: absolute;
        z-index:1;
        
    }
    
    
    
    .size{
        width:100%;
        height:100%;
        filter: blur(1px) saturate(0);
    }
    
    
    #textBox{
        margin-top: -90vh;
        margin-left: 10vw;
        width:auto;
        height:auto;
    
        position: relative;
        z-index: 2;
    
    
    
        #subTitle{
          @include h5($color:$light);
        }
    
    
        #introDate{
           @include h1($color:$light);
        }
        
        #introText{
          @include h1($color:$secondary);
        }
    }
    
    #divider{
        width: 100vw;
        height:3vh;
        padding-top: 103vh;
    
    }

    #buttonsHolder{
        width:100vw;
        height:8vh;
        border-bottom: 1px solid black;
    }

    .dateHolder{
        width:95vw;
        height:10vh;
        margin-top:10vh;

    }

    #eventsHolder {
        width:100vw;
        height:auto;
        margin-top:15vh;
    
    
    


        .verticalCol {
            width:28vw;
            height:auto;
            //background-color: aqua;
            float: left;
            margin-right: 2.5vw;
            margin-left:2.5vw;
            margin-bottom: 5vh;
        }
    }











}





