* {
  box-sizing: border-box;
}

body {
  background: $light;
}

#test {
  @include button-med;
}


a {
  text-decoration: none;
  outline: none;
  color: inherit;
}



button {
  outline: none;
  color: inherit;
}

