* {
  box-sizing: border-box;
}

body {
  background: $dark;
  text-rendering: geometricPrecision;
}

h1 {
  margin: 0;
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

button {
  outline: none;
  color: inherit;
}

#project {
  background: $light;
}