@font-face {
  font-family: 'GlyphWorld';
  src: url('../../assets/fonts/GlyphWorld-Mountain.woff2') format('woff2'),
      url('../../assets/fonts/GlyphWorld-Mountain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../../assets/fonts/NeueMachina-Regular.woff2') format('woff2'),
      url('../../assets/fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../../assets/fonts/NeueMachina-Light.woff2') format('woff2'),
      url('../../assets/fonts/NeueMachina-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit';
  src: url('../../assets/fonts/FavoritStd-Light.woff2') format('woff2');
  src: url('../../assets/fonts/FavoritStd-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit';
  src: url('../../assets/fonts/FavoritStd-LightItalic.woff2') format('woff2');
  src: url('../../assets/fonts/FavoritStd-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}