/*** COLORS ***/
$primary: #8f00ff;
$secondary: #efc1ff;
$tertiary: #cb38ff;
$dark: #000;
$light: #fff;
$error: #ff0000;

/*** COLOR FILTERS ***/
//use these with the "filter" property to transform any black element/icon to our brand colors
//if the thing you want to color isn't black, then use $black-filter first to make it black
$black-filter: brightness(0) saturate(100%);
$primary-filter: invert(19%) sepia(85%) saturate(6695%) hue-rotate(273deg) brightness(92%) contrast(130%);
$secondary-filter: invert(85%) sepia(27%) saturate(1276%) hue-rotate(198deg) brightness(102%) contrast(101%);
$tertiary-filter: invert(27%) sepia(100%) saturate(1362%) hue-rotate(261deg) brightness(110%) contrast(117%);

/*** CUBIC BEZIERS ***/
$ease-in-out: cubic-bezier(0.65, 0.05, 0.36, 1);

/*** MEDIA QUERY BREAKPOINTS ***/
$breakpoint-mobile: 420px;
$breakpoint-tablet: 750px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-wide: 1440px;



/*** FONTS ***/

/*** TEXT SIZES ***/
$text-huge: 5rem;
$text-large: 3rem;
$text-medium: 1.8rem;
$text-regular: 1rem;
//32px - component subtitles [showcase, events, etc.]
//24px - subtitle in the landing
//18px - subcategories & call-to-action

/*** TEXT WEIGHT ***/
$bold: 700;

/*** COLORS ***/
$menu-background: #fff;
$base-background: #000;
$secondary-background: #fff;
$landing-background: #c4c4c4;
$card-background: #e5e5e5;

$base-text: #fff;
$menu-text: #151515;
$secondary-text: #000;
