.event-card {
  width: 100%;
  padding: 0 25px 70px;
  display: grid;
  grid-template-areas:
    "type type"
    "image image"
    "main main"
    "sub attend";

  .event-type {
    grid-area: type;
    margin-top: 0;
    margin-bottom: 0.625rem;
  }

  .event-image {
    grid-area: image;
    margin-bottom: 1.25rem;
    width: 100%;
  }

  .event-main {
    grid-area: main;

    .event-title {
      margin: 0;
      margin-bottom: 0.5rem;
    }

    .event-speaker {
      margin: 0;
      @include caption-lg;
    }
  }

  .event-sub {
    margin-top: 0.8rem;
    grid-area: sub;

    .event-date,
    .event-time {
      @include ui-inline;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 0;
    }

    .more-info {
      @include ui-inline-sm;
      cursor: pointer;
      margin: 6px 0 0;
    }
  }

  .event-attend {
    grid-area: attend;
    justify-self: end;
    button {
      @include medium-button;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .event-card {
    &:nth-child(2n + 1) {
      border-right: 1px solid $dark;
    }
  }
}

@media (min-width: 1200px) {
  .event-card {
    grid-template-areas:
      "type type"
      "image image"
      "main attend"
      "sub attend";

    &:nth-child(2n + 1) {
      border-right: none;
    }

    &:nth-child(3n + 1) {
      border-right: 1px solid $dark;
    }

    &:nth-child(3n + 3) {
      border-left: 1px solid $dark;
    }
  }
}
