#events-info-modal {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
  
  background: rgba(255, 255, 255, 0.6);
}

#modal-container {
  width: 100%;
  height: 100vh;
  background: $light;
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-rows: 1.875rem;

  button {
    @include close-button;
    justify-self: end;
    margin-bottom: 20px;
  }

  img {
    margin-top: 20px;
    width: 100%;
  }
}

// #mobile-nav-close {

// }

.blur {
  filter: blur(6px);
}

@media (min-width: $breakpoint-tablet) {
  #modal-container {
    width: 85%;
    max-width: 1220px; 
    height: 70vh;
    border: 1px solid $dark
  }
  
}