@mixin hover-blur($blur-amount: 2px, $blur-duration: 0.2s) {
  transition: filter $blur-duration, color $blur-duration;

  &:hover {
    filter: blur($blur-amount);
  }
}

@mixin hover-deblur {
  filter: blur(2px);
  transition: filter 0.2s;

  &:hover {
    filter: none;
  }
}