/*** TO-DO: ***/
//border and text animations are not working, fix
//revisit once site is more implemented to fix   issues

@mixin base-button {
  display: block;
  cursor: pointer;
  height: 40px;
  border-radius: 50px;
  position: relative;
  user-select: none;

  //drop shadow
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: inherit;
    transition: all 0.25s $ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }
}

@mixin large-button {
  @include base-button; //button base
  @include h6($light); //typography mixin
  background: $primary;
  border: none;
  padding: 0 1.875rem;
  
  &::after {
    box-shadow: 0px 0px 10px #ff0000;
  }
}

@mixin medium-button {
  @include base-button;
  @include h6($dark);
  padding: 0 1.875rem;
  border: 1px solid $primary;
  background: none;

  &::after {
    box-shadow: 0px 0px 10px $primary;
  }

  &:hover {
    color: $primary;
    border: 1px solid transparent;
  }
}

@mixin small-button {
  @include base-button;
  @include h6($dark);
  height: 30px;
  padding: 0 1.25rem;
  background: none;
  border: 1px solid $primary;

  &::after {
    box-shadow: 0px 0px 10px $primary;
  }

  &:hover {
    color: $primary;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px $primary;
  }

  &.selected {
    background: $primary;
    color: $light;
  }

  &.selected:hover::after {
    opacity: 0;
  }
}

@mixin dark-button {
  @include base-button;
  @include h6($light);
  min-width: 11.25rem;
  background: none;
  border: 1px solid $secondary;
  
  &::after {
    box-shadow: 0px 0px 10px $secondary;
  }

  &:hover {
    color: $secondary;
    border: 1px solid transparent;
    // box-shadow: 0px 0px 10px $secondary;
  }
}

@mixin close-button {
  width: 1.25rem;
    height: 1.875rem;
    border: none;
    background: none;
    background-image: url('../../assets/icons/closex.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    &:hover {
      filter: invert(13%) sepia(81%) saturate(5227%) hue-rotate(270deg) brightness(108%) contrast(140%);
    }
}
