@mixin poster ($color: $tertiary) {
  font-family: 'GlyphWorld', sans-serif;
  font-size: 7.5rem;
  letter-spacing: 0.05em;
  line-height: 96%;
  color: $light;
  text-align: right;
  
  /*** added text stroke ***/
  -webkit-text-stroke: 2px $color;
}

@mixin logo($color: $secondary) {
  font-family: 'GlyphWorld', sans-serif;
  font-size: 1.4375rem;
  letter-spacing: 0.1rem;
  color: $color;
}

@mixin h1 ($color: $secondary) {
  font-family: 'GlyphWorld', sans-serif;
  font-size: 5rem;
  letter-spacing: 0.05em;
  color: $color;

  /*** added text stroke ***/
  -webkit-text-stroke: 1px $color;
  // text-shadow:
  // -1px -1px 0 $color,  
  //  1px -1px 0 $color,  
  //  -1px 1px 0 $color,
  //   1px 1px 0 $color;
}

@mixin h2 ($color: $dark) {
  font-family: 'Neue Machina', monospace;
  font-size: 3.125rem;
  line-height: 95%;
  color: $color;
}

@mixin h3($color: $dark) {
  font-family: 'GlyphWorld', sans-serif;
  font-size: 1.875rem;
  letter-spacing: 0.05em;
  color: $color;

  &:hover {
    @if $color == $dark {
      color: $primary;
    }

    @if $color == $light {
      color: $secondary;
    }
  }
}

@mixin h4($color: $dark) {
  font-family: 'GlyphWorld', sans-serif;
  font-size: 1.625rem;
  color: $color;
}

@mixin h5($color: $dark) {
  font-family: 'GlyphWorld', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: $color;
}

@mixin h6($color: $dark) {
  font-family: 'Favorit', sans-serif;
  font-size: 0.875rem;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: $color;
}

@mixin p($color: $dark) {
  font-family: 'Favorit', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 130%;
  color: $color;
}

@mixin excerpt($color: $dark) {
  font-family: 'Favorit', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 125%;
  color: $color;
}

@mixin caption-lg($color: $dark) {
  font-family: 'Neue Machina', sans-serif;
  font-family: 1.25rem;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: $color;
}

@mixin caption-med($color: $dark) {
  font-family: 'Neue Machina', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: $color;
}

@mixin caption-sm($color: $dark) {
  font-family: 'Neue Machina', sans-serif;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 115%;
  letter-spacing: 0.05em;
  color: $color;
}

@mixin ui-inline($color: $dark) {
  font-family: 'Neue Machina', monospace;
  font-size: 0.875rem;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: $color;
}

@mixin ui-inline-sm($color: $primary) {
  font-family: 'Neue Machina', monospace;
  font-size: 0.8125rem;
  line-height: 109.7%;
  letter-spacing: 0.03em;
  color: $color;
}

@mixin inline-link($color: $primary) {
  font-family: 'Favorit', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 130%;
  color: $color;
  transition: filter 0.25s;

  &:hover {
    filter: blur(3px);
  }
}

@mixin list {
  @include p;
  list-style-image: url('../../assets/icons/list-bullet.svg');
}