#mobile-nav {
  width: 100%;
  height: 100vh;
  background: $dark;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 0.35s $ease-in-out;
  padding: 32vh 0;
  

  &.open {
    transform: translateX(0);
  }

  a {
    @include h3($light);
    text-align: center;
    margin-bottom: 12vh;
    max-width: 1024px; //for easter egg
  }

  button {
    @include close-button;
    filter: invert(1);
    position: absolute;
    top: 1.25rem;
    right: 5vw;
  }

  &:before {
    @include h3($light);
    content: "";
    position: absolute;
    background-image: url("../../../assets/secret.png");
    left: 1300px;
    top: 50vh;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}




// #menu {
//   visibility: hidden;
//   background: $menu-background;
//   color: $menu-text;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   height: 100vh;
//   z-index: -1;
//   // transform: translateX(100%);
//   // transition: transform 0.45s $ease-in-out;
//   display: grid;
//   align-items: center;
//   justify-items: center;

//   &.open {
//     visibility: visible;
//     z-index: 1;
//     transform: translateX(0);
//   }
// }

// nav {
//   width: 80%;
//   height: 60vh;
//   display: grid;
//   grid-template-rows: repeat(3, 1fr);
//   align-items: center;

//   a {
//     font-size: $text-large;
//     font-weight: $bold;
//     color: $menu-text;

//     &:hover {
//       opacity: 0.7;
//     }
//   }
// }

// @media all and (min-width: 900px) {
  // nav {
  //   display: flex;
  //   justify-content: space-between;

  //   a {
  //     text-align: center;
  //   }
  // }

  // #menu {
  //   transform: translateX(-100%);
  // }
// }
